<div class="ui small modal">
    <i class="close icon"></i>
    <div class="header">
        转发
    </div>
    <div class="content">
        <div class="ui form">
            <h4 class="ui dividing header"></h4>
            <div class="field">
                <label>转发评论</label>
                <textarea id="forwardContent"></textarea>
                <input type="hidden" id="realForwardContent">
            </div>
            <div class="field" style="text-align:right">
                <input type="hidden" id="msg_id">
                <input type="hidden" id="comment_count">
                <input type="hidden" id="forward_count">
                <div class="ui orange button">转发</div>
            </div>
        </div>
    </div>
    <div class="actions">
        <legend class="topic" id="messageForwardCount"></legend>
        <div id="messageForwardInfo" style="text-align:left"></div>
    </div>
</div>
<script src="/javascripts/list.js"></script>
</body>
</html>